# Binaries
*.dll
*.exe

# Windows file system links
*.lnk





# Output directories
Build/
bin/

# Output directories - default
#Debug/
#Release/

# Output directories - custom
bin/
lib/


# Visual Studio cache
.vs/

# Visual Studio - User specific stuff
*.user

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb