#include "robinle_mainicon.h"

#include "winres.h" // for language codes


// LANGUAGE NEUTRAL RESOURCES
#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_NEU)
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(1252)





//================================================
// ICONS

// RobinLe logo as main icon
// Path: "..\..\..\..\RobinLe.ico"
IDI_ROBINLE		ICON		"..\\..\\..\\..\\RobinLe.ico"





#endif // Language neutral resources